@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
        body{
            margin: 0;
            padding: 0;
            font-family: 'Poppins', sans-serif;
        }
        .main{
            display: flex;
            padding: 30px;
            margin: 0 10%;
        }
        .img{
            margin-right: 30px;
        }
        img{
            width: 350px;
        }
        .content{
            width: 600px;
            
        }
        .content h2{
            font-size: 25px;
            font-weight: 600;
        }
        .content p{
            font-size: 14px;   
        }
        .text{
            position: sticky;
        }
        button{
            padding: 5px 10px;
            background: #fff;
            border: 1px solid gray;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.5s;
            margin-right: 5px;
        }
        button:hover{
            background: indianred;
            color: #fff;
            transition: 0.5s;
            border: 1px solid indianred;
        }
        .price{
            display: flex;
            justify-content: space-between
        }